@font-face {
    font-family: "Minecraft";
    src: url('Minecraft.ttf');
}

body{
    font-family: Minecraft;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre{
    font-size: 4rem;
    font-weight: 600;
}

#start{
    position: absolute;
    margin-top: 350px;
}

.play{
    font-family: Minecraft;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 8px;
    font-weight: 600;
    width: 360px;
    border: none;
    box-shadow: 0px 0px 20px 1px #000;
    cursor: pointer;
}

.play:hover{
    transform: scale(1.2);
}

.loose{
    position: absolute;    
}

.loose h2{
    color: whitesmoke;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
}

canvas {
    width: 800px;
    height: 500px;
    border: 1px solid black;
}

.rotate {
    animation: rotate 0.4s ease;
}

@keyframes rotate{
    25%{
        transform: rotateZ(10deg);
        border:3px solid red;
    }
    50%{
        transform: rotateZ(-10deg);
        border:3px solid red;
    }
}

.Settings{
    margin-top: 30px;
}

.Settings button{
    font-family: Minecraft;
    font-weight: 600;
}